services:
  - type: background
    name: telegram-music-bot
    env: docker
    dockerfilePath: Dockerfile
    branch: main
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: SESSION_STRING
        sync: false
      - key: API_ID
        sync: false
      - key: API_HASH
        sync: false
      - key: OWNER_ID
        sync: false
